# Ignore Python cache files
__pycache__/

# Ignore the SQLite database file
database.db
Backend/test.py
Backend/test2.py
test.py
test2.py
# Optionally, ignore other files
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.log
*.sql
*.sqlite3
*.dat
*.db
*.tar.gz
*.tgz
*.log
*.pot
*.mo
