<div class="page-content">
    <div class="static-view">
        <div class="section-stretch">
            <div class="page-title p-2">
                <h1>Claims investigation</h1>
                <p>Use AI chatbot to investigate further into the claims.</p>
            </div>
            <div style="flex:8"></div>
        </div>
        <hr class="mt-0" />
    </div>
    <div class="streamlit-container">
        <iframe src="http://localhost:8501" frameborder="0" class="streamlit-iframe"></iframe>
    </div>
</div>
